.Loading {
  text-align: justify;
  padding-bottom: 100px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  display: grid;
  place-items: center;
  height: 50vh;
  width: 100%;
}

.Loading > img {
  height: 200px;
  padding: 20px;
  margin-bottom: 40px;
}
